body {
    font-size:1em;
    font-family:Arial;
    background:#eee;
  }
  
#hellomessage {
    font-weight:bold;
  }

td img {
    width: 150px;
    height: 200px;
}

h1 {  
     color: blueviolet;  
  } 